<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartPage"
        tools:targetApi="31">
        <activity
            android:name=".report_menu"
            android:exported="false"
            android:parentActivityName=".sampleNavi"/>
        <activity
            android:name=".sampleHome"
            android:exported="false" />
        <activity
            android:name=".sample"
            android:exported="false" />
        <activity
            android:name=".BMICalc"
            android:exported="false"
            android:parentActivityName=".sampleNavi" />
        <activity
            android:name=".Account"
            android:exported="false"
            android:parentActivityName=".sampleNavi" />
        <activity
            android:name=".sampleNavi"
            android:exported="false" />
        <activity
            android:name=".createProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>